
body {
  /* disable text higlightening */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  margin: auto;
}


.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}

.enum-btn {
  margin-bottom: 0;
}
/* disable spinner in the number input field */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.helper-btn {
  max-width: 150px;
  width: 10vw;
}
.main-menu-btn {
  width: 25vw;
  max-width: 200px;
}

input[type="number"]{
  text-align: center;
}

input:invalid {
    box-shadow: none;
}
